---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import CompareCard from "../components/CompareCard.astro";
import HelpGrid from "../components/HelpGrid.astro";
import WhoThisIsFor from "../components/WhoThisIsFor.astro";
---
<Layout title="Marketing Strategy, Execution & Support">
  <div class="bg-[var(--color-paper-dim)] min-h-[50vh] flex flex-col">
    <Header />
    <Hero />
  </div>
  <HelpGrid />
  <CompareCard />
  <WhoThisIsFor />
</Layout>
