---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HelpGrid from "../components/HelpGrid.astro";
import CoverageTable from "../components/CoverageTable.astro";
import ProofGrid from "../components/ProofGrid.astro";
import HowWeWork from "../components/HowWeWork.astro";
import WhoThisIsFor from "../components/WhoThisIsFor.astro";
import LogoStrip from "../components/LogoStrip.astro";
import CtaBand from "../components/CtaBand.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Marketing Strategy, Execution & Support">
  <div class="bg-[var(--color-paper-dim)] flex flex-col">
    <Header />
    <Hero />
  </div>
  <HelpGrid />
  <CoverageTable />
  <ProofGrid />
  <HowWeWork />
  <WhoThisIsFor />
  <LogoStrip />
  <CtaBand />
  <Footer />
</Layout>
